In [2]:
import datetime
import sqlalchemy
import pandas as pd
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

In [3]:
# Database Setup
engine = create_engine(f"postgresql+psycopg2://postgres:new_password@localhost:5432/final_project")

# Reflect existing database into a new model
Base = automap_base()

# Reflect the tables
Base.prepare(autoload_with=engine)

# Create session (link) from Python to PG Admin
session = Session(engine)

# Create list and load to dataframe
heart_data_list = []
heart_data = engine.execute("SELECT * FROM heart_failure")
for results in heart_data:
    heart_failure = {}
    heart_failure["age"] = results[0]
    heart_failure["sex"] = results[1]
    heart_failure["chest_pain_type"] = results[2]
    heart_failure["resting_bp"] = results[3]
    heart_failure["cholesterol"] = results[4]
    heart_failure["fasting_bs"] = results[5]
    heart_failure["resting_ecg"] = results[6]
    heart_failure["max_hr"] = results[7]
    heart_failure["exercise_aniga"] = results[8]
    heart_failure["old_peak"] = results[9]
    heart_failure["st_slope"] = results[10]
    heart_failure["heart_disease"] = results[11]
    heart_data_list.append(heart_failure)

session.close()
heart_df = pd.DataFrame(heart_data_list)
heart_df

,age,sex,chest_pain_type,resting_bp,cholesterol,fasting_bs,resting_ecg,max_hr,exercise_aniga,old_peak,st_slope,heart_disease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [4]:
heart_df.nunique()

age                 50
sex                  2
chest_pain_type      4
resting_bp          67
cholesterol        222
fasting_bs           2
resting_ecg          3
max_hr             119
exercise_aniga       2
old_peak            53
st_slope             3
heart_disease        2
dtype: int64

In [5]:
heart_df.dtypes

age                  int64
sex                 object
chest_pain_type     object
resting_bp           int64
cholesterol          int64
fasting_bs           int64
resting_ecg         object
max_hr               int64
exercise_aniga      object
old_peak           float64
st_slope            object
heart_disease        int64
dtype: object

In [6]:
dummies = pd.get_dummies(heart_df)
dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  918 non-null    int64
 1   resting_bp           918 non-null    int64
 2   cholesterol          918 non-null    int64
 3   fasting_bs           918 non-null    int64
 4   max_hr               918 non-null    int64
 5   old_peak             918 non-null    float64
 6   heart_disease        918 non-null    int64
 7   sex_F                918 non-null    uint8
 8   sex_M                918 non-null    uint8
 9   chest_pain_type_ASY  918 non-null    uint8
 10  chest_pain_type_ATA  918 non-null    uint8
 11  chest_pain_type_NAP  918 non-null    uint8
 12  chest_pain_type_TA   918 non-null    uint8
 13  resting_ecg_LVH      918 non-null    uint8
 14  resting_ecg_Normal   918 non-null    uint8
 15  resting_ecg_ST       918 non-null    uint8
 16  exercise_aniga_N     918 non-null    uint8
 17  exercise_aniga_Y     918 non-null    uint8
 18  st_slope_Down        918 non-null    uint8
 19  st_slope_Flat        918 non-null    uint8
 20  st_slope_Up          918 non-null    uint8
dtypes: float64(1), int64(6), uint8(14)
memory usage: 62.9 KB

In [7]:
dummies

,age,resting_bp,cholesterol,fasting_bs,max_hr,old_peak,heart_disease,sex_F,sex_M,chest_pain_type_ASY,...,chest_pain_type_NAP,chest_pain_type_TA,resting_ecg_LVH,resting_ecg_Normal,resting_ecg_ST,exercise_aniga_N,exercise_aniga_Y,st_slope_Down,st_slope_Flat,st_slope_Up
0,40,140,289,0,172,0.0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,1
1,49,160,180,0,156,1.0,1,1,0,0,...,1,0,0,1,0,1,0,0,1,0
2,37,130,283,0,98,0.0,0,0,1,0,...,0,0,0,0,1,1,0,0,0,1
3,48,138,214,0,108,1.5,1,1,0,1,...,0,0,0,1,0,0,1,0,1,0
4,54,150,195,0,122,0.0,0,0,1,0,...,1,0,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,132,1.2,1,0,1,0,...,0,1,0,1,0,1,0,0,1,0
914,68,144,193,1,141,3.4,1,0,1,1,...,0,0,0,1,0,1,0,0,1,0
915,57,130,131,0,115,1.2,1,0,1,1,...,0,0,0,1,0,0,1,0,1,0
916,57,130,236,0,174,0.0,1,1,0,0,...,0,0,1,0,0,1,0,0,1,0
917,38,138,175,0,173,0.0,0,0,1,0,...,1,0,0,1,0,1,0,0,0,1

In [8]:
y = dummies["heart_disease"]
X = dummies.drop(columns=["heart_disease"])

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [9]:
Scaler = StandardScaler()
X_Scaler = Scaler.fit(X_train)
X_train_scaled = X_Scaler.transform(X_train)
X_test_scaled = X_Scaler.transform(X_test)

In [15]:
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=10,
        step=2), activation=activation, input_dim=20))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=2),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [16]:
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=10,
    hyperband_iterations=2)

INFO:tensorflow:Reloading Tuner from .\untitled_project\tuner0.json

In [17]:
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 56 Complete [00h 00m 09s]
val_accuracy: 0.5478261113166809

Best val_accuracy So Far: 0.852173924446106
Total elapsed time: 00h 05m 50s
INFO:tensorflow:Oracle triggered exit

In [18]:
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'relu',
 'first_units': 9,
 'num_layers': 2,
 'units_0': 1,
 'units_1': 5,
 'units_2': 7,
 'units_3': 5,
 'units_4': 1,
 'units_5': 7,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 0,
 'tuner/round': 0}

In [19]:
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8/8 - 1s - loss: 0.4645 - accuracy: 0.8522 - 1s/epoch - 149ms/step
Loss: 0.4645215570926666, Accuracy: 0.852173924446106

In [20]:
best_model.save("auto_model.h5")

C:\Users\ahmed\anaconda3\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(